.carrossel__titulo {
    color: var(--verde);
    background-color: var(--branco);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: .5em 0;
}

.compre-aqui {
    text-align: center;
    background-color: var(--verde);
    color: var(--branco);
    margin: 15px 0 15px 0;
    padding: 1.5em 1em;
    border-radius: 10px;
    font-size: 10px;
    margin-bottom: 20px;
    font-weight: 700;
    }
    
    .compre-aqui-link {
        text-decoration: none;
        color: var(--branco);
        cursor: pointer;
    }

.card__descrição {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.card__botões {
    display: flex;
    justify-content: space-between;
}

.botões {
    display: flex;
}

.card {
    background: var(--branco);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
}

.descrição__imagem {
    width: 50%;
}

.descrição__titulo {
    color: var(--verde);
    font-weight: 700;
}

.descrição__titulo-livro {
    color: var(--azul);
    font-size: 18px;
    font-weight: 700;
    margin: 0.5em 0;
}

.descrição__texto {
    font-size: 14px;
}

.botões__item {
    margin: 0 0.5em;
}

.botões__ancora {
    background-color: var(--verde);
    padding: 1em 2.2em;
    color: var(--branco);
    font-weight: 700;
    text-decoration: none;
}

@media screen and (min-width: 1024px) {
    .carrossel__container {
        display: flex;
        margin: 0 5vw 3em 5vw;
        align-items: center;
    }
    
    .carrossel__titulo {
        font-size: 26px;
    }

    .swiper-pagination {
        margin: 2em 0 3em 0;
    }

    .swiper {
        width: 70%;
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: block;
        top: 50%;
    }
    
    .compre-aqui {
        text-align: center;
        background-color: var(--verde);
        font-family: var(--fonte-menu);
        color: var(--branco);
        padding: 1em;
        margin: 30px 60px 0px 60px;
        border-radius: 10px;
        font-size: 20px;
        transition-delay: 0.3s;
    }

    .compre-aqui:hover {
        font-weight: 900;
    }

    .card {
        width: 50%;
        margin: 3em auto;
    }


    .descrição__titulo {
        font-size: 35px;
    }

    .descrição__titulo-livro {
        font-size: 35px;
    }

    .descrição__texto {
        font-size: 25px;
    }

    .descrição__imagem {
        width: 40%;
    }


}

@media screen and (min-width: 1500px) {
    .carrossel__container {
        display: flex;
        margin: 0 10vw 3em 10vw;
        align-items: center;
    }

    .swiper-pagination {
        margin: 1em 0;
    }

    .swiper {
        width: 80%;
        margin-top: 3em;
    }

    .descrição__titulo {
        font-size: 32px;
    }

    .descrição__texto {
        font-size: 30px;
    }

    .descrição {
        margin-right: 2em;
    }

    .card {
        width: 50%;
        margin: 4em auto;

    }

    .swiper-button-prev,
    .swiper-button-next {
        display: block;
        top: 40%;
    }

    .compre-aqui {
        text-align: center;
        background-color: var(--verde);
        font-family: var(--fonte-menu);
        color: var(--branco);
        margin: 30px 130px 30x 130px;
        border-radius: 10px;
        font-size: 25px;
        transition-delay: 0.3s;
    }

    .compre-aqui:hover {
        font-size: 27px;
        
    }

}