
.rodape {
    background-color: var(--branco);
    padding: 1em;
}


.rodape__titulo {
    margin-top: 10px;
    font-size: 15px;
}

.formas-depagamento {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.formas-de-pagamento-img {
    width: 40px;
    border-radius: 3px;
}

.Departamentos {
    display: none;
}

@media screen and (min-width: 1024px) {
    .rodape {
        display: block;
        justify-content: space-around;
        padding: 1em 0;
    }

    .rodape-container {
        display: flex;
        align-items: center;
        padding: 3em 0;
        gap: 40px;
        border-top: 2px solid var(--cinza-claro);
        border-bottom: 1px solid var(--cinza-claro);
        background-color: var(--cor-de-fundo);
    }

    .rodape__titulo {
        padding: 0.3em 2em;
        text-align: center;
    }

    .titulos-footer {
        font-size: 25px;
        padding-left: 1em;
    }

    .formas-depagamento {
        display: inline-flex;
        gap: 20px;
    }

    .superior-rodape {
        display: flex;
        gap: 12em;
        background-color: var(--cor-de-fundo);
    }

    .Departamentos {
        display: block;
        padding: 2em 0;
        background-color: var(--cor-de-fundo);
    }

    .departamentos-lista {
        padding: 1em 0 0 1.7em;
        
    }

    .departamentos-lista-itens {
        padding: 1em 0;
    }

    .departamentos-lista-link {
        text-decoration: none;
        color: var(--cinza-claro);
        cursor: pointer;
        display: flex;
        align-items: center;
    }
    
    .departamentos-lista-link:hover {
        color: var(--cinza);
    }

}

@media screen and (min-width: 1400px) {
    .rodape {
        display: block;
        justify-content: space-around;
        padding: 1em 0;
    }

    .rodape-container {
        display: flex;
        align-items: center;
        padding: 3em 0;
        gap: 40px;
        border-top: 2px solid var(--cinza-claro);
        border-bottom: 1px solid var(--cinza-claro);
        background-color: var(--cor-de-fundo);
    }

    .rodape__titulo {
        padding: 0.3em 2em;
        text-align: center;
    }

    .titulos-footer {
        font-size: 25px;
        padding-left: 1em;
    }

    .formas-depagamento {
        display: inline-flex;
        gap: 20px;
    }

    .Departamentos {
        display: block;
        padding: 2em 0;
        background-color: var(--cor-de-fundo);
    }

    .departamentos-lista {
        padding: 1em 0 0 1.7em;
        
    }

    .departamentos-lista-itens {
        padding: 1em 0;
    }

    .departamentos-lista-link {
        text-decoration: none;
        color: var(--cinza-claro);
        cursor: pointer;
    }

    .departamentos-lista-link:hover {
        color: var(--cinza);
    }

    .superior-rodape {
        display: flex;
        gap: 20em;
        background-color: var(--cor-de-fundo);
    }
}